<section class="flex--container bkg--green_lite spacer about">
  <div class="flex--child-1 content--tighter">
    <h3 class="section--headline caps lt-3">About</h3>
    <p>We can't stop talking about design and front-end development, we write and tweet but we need another outlet for our possibly unhealthy obsession (read: passion). We want to talk to some of the smartest people out there and simplify some of the things we don't understand (like JavaScript MVC apps and hoisting and why we dropped out of school).</p>
  </div>
  <div class="flex--child-1 content--tighter">
    <h3 class="section--headline caps lt-3">Sponsorship</h3>
    <p>We are currently looking for amazing sponspors to partner with to support our show and provide amazing products and services and offers to our listeners</p>
  </div>
</section>
