<section class="modal modalClose" data-modalId="1">
	<span class="modal--close modal--content close flex--container items-center">
		<span class="modal--close_text w-700 caps lt-2">Close</span>
		<svg class="icon modal--close_x fill--green_dark">
			<use xlink:href="#icon-close" />
		</svg>
	</span>
	<div class="modal--content">
		<form class="center" id="submissions" accept-charset="UTF-8" action="https://formkeep.com/f/e0195597710a" method="POST">
			<input type="hidden" name="utf8" value="✓">
			<input type="email" name="email" placeholder="Your Email">
			<input type="text" name="name" placeholder="Your Name">
			<input type="url" name="url" placeholder="Your Website">
			<textarea name="content" placeholder="How do you handle responsive images? Why is SASS amazing? Is Tim always working out?" width="100%" height="500px"></textarea>
			<input class="btn caps lt-2" type="submit">
		</form>
	</div>
</section>
