<section class="hosts spacer" id="hosts">
  <h2 class="section--headline section--headline_center caps lt-3 w-400 center">Hosts</h2>
  <div class="flex--container h-center">
    <div class="host center flex--child_1">
      <img class="host--img" src="assets/dist/img/tim.jpg" alt="">
      <p class="left"><strong class="caps lt-2"><a href="https://timevko.com/">Tim Evko</a></strong> is a Front End Developer and a contributor to <a href="http://www.sitepoint.com/author/tevko/">SitePoint</a>, <a href="http://web-design-weekly.com/author/tim-evko/">WDW</a> & <a href="https://scotch.io/author/timevko">Scotch.io</a>. He's probably at the gym.</p>
      <div class="host--icons">
        <a href="http://codepen.io/tevko">
          <svg class="icon">
            <use xlink:href="#icon-social_codepen" />
          </svg>
        </a>
        <a href="https://github.com/tevko">
          <svg class="icon">
            <use xlink:href="#icon-social_githubalt" />
          </svg>
        </a>
        <a href="https://twitter.com/tevko">
          <svg class="icon">
            <use xlink:href="#icon-social_twitter" />
          </svg>
        </a>
      </div>
    </div>
    <div class="host center flex--child_1">
      <img class="host--img" src="assets/dist/img/charles.jpg" alt="">
      <p class="left"><strong class="caps lt-2"><a href="http://charlespeters.net/">Charles Peters</a></strong> is a Designer at <a href="http://blackpixel.com/">Black Pixel</a> and writes at his own site <a href="http://arwhd.co/">ARWHD</a> and flips out on Twitter quite frequently.</p>
      <div class="host--icons">
        <a href="http://dribbble.com/charlespeters">
          <svg class="icon">
            <use xlink:href="#icon-social_dribbble" />
          </svg>
        </a>
        <a href="http://codepen.io/charlespeters">
          <svg class="icon">
            <use xlink:href="#icon-social_codepen" />
          </svg>
        </a>
        <a href="https://github.com/charlespeters">
          <svg class="icon">
            <use xlink:href="#icon-social_githubalt" />
          </svg>
        </a>
        <a href="https://twitter.com/charlespeters">
          <svg class="icon">
            <use xlink:href="#icon-social_twitter" />
          </svg>
        </a>
      </div>
    </div>
    <div class="host center flex--child_1">
      <img class="host--img" src="assets/dist/img/brad.jpg" alt="">
      <p class="left"><strong class="caps lt-2"><a href="http://www.bradcerasani.me/">Brad Cerasani</a></strong> is a Web Designer at <a href="http://blackpixel.com/">Black Pixel</a> specializing in responsive design and future-friendly architecture</p>
      <div class="host--icons">
        <a href="https://dribbble.com/bradcerasani">
          <svg class="icon">
            <use xlink:href="#icon-social_dribbble" />
          </svg>
        </a>
        <a href="https://github.com/bradcerasani">
          <svg class="icon">
            <use xlink:href="#icon-social_githubalt" />
          </svg>
        </a>
        <a href="https://twitter.com/bradcerasani">
          <svg class="icon">
            <use xlink:href="#icon-social_twitter" />
          </svg>
        </a>
      </div>
    </div>
    <div class="host center flex--child_1">
      <img class="host--img" src="assets/dist/img/lara.jpg" alt="">
      <p class="left"><strong class="caps lt-2"><a href="http://notlaura.com/">Lara Schenck</a></strong> independent web consultant and educator living in NYC. She specializes in WordPress, Sass and cocktails.</p>
      <div class="host--icons">
        <a href="http://codepen.io/laras126/">
          <svg class="icon">
            <use xlink:href="#icon-social_codepen" />
          </svg>
        </a>
        <a href="http://github.com/laras126">
          <svg class="icon">
            <use xlink:href="#icon-social_githubalt" />
          </svg>
        </a>
        <a href="https://twitter.com/laras126">
          <svg class="icon">
            <use xlink:href="#icon-social_twitter" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
